@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Special+Elite&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: #2C2C2C;
    }
    main{
        display: flex;
    }
section:nth-of-type(1), section:nth-of-type(2){
min-width: 40%;
}
#score1, #score2{
font-family: 'Orbitron';
font-weight: 400;
font-size: 100px;
color: #FDF860;
text-align: center;
}
h2{
font-family: 'Orbitron';
font-weight: 400;
font-size: 37px;
color: #FFFFFF;
background-color: #2C2C2C;
position: absolute;
left:35%;
top:95%;
text-align:center;
}
/* ==================Home================== */
.home, .away{
padding: 10%;
border: 5px solid #97F5BB;
border-radius: 40px;
margin-top: 10%;
}
.container1,.container2{
background: #000000;
border-radius: 30px;
}
.homebutton, .awaybutton{
display: block;
text-align: center;
}
.score11, .score12, .score13, .score21, .score22, .score23{
width: 100px;
height: 100px;
background: #97F5BB;
border-radius: 20px;
color: #ffffff;
font-size: 37px;
font-family: 'Lato';
margin-top: 10%;
border: none;
}
/* ==================Away================== */
.away{
    border: 5px solid #525DF4;;
}
.score21, .score22, .score23{
    background-color:  #525DF4;;
}
/* ==================Reset===================== */
footer{
text-align: center;
}
.reset{
background: #FFFFFF;
border-radius: 10px;
padding: 1.5rem 6rem;
margin-top: 5%;
}


